@font-face {
    font-family: Poppins;
    src: url(cv_starter/fonts/poppins.ttf);
}
@font-face {
    font-family: Poppins_Medium;
    src: url(cv_starter/fonts/Poppins-Medium.ttf);
}

html {
    font-family: Poppins;
}
h1, h2, h3, h4 {
    font-family: Poppins_Medium;
}

header {
    background: #0475ba;
    color: #ecf3f8;
    display: flex;
    height: 72px;
}

nav {
    display: flex;
    margin: auto 40px;
}
h2 {
    margin:  auto 15px;
    font-size: 25px;
    float: left;
}
nav > a {
    padding-right: 20px;
    padding-left: 10px;
    color: #ecf3f8;
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: space-around right;
}

h1 {
    font-size:xx-large;
    margin: 30px;
}
#h1 {
    font-size: x-large;
    color: #0475ba;
    margin: 30px;
}

.qui {
    background-color: #ecf3f8;
    display: flex;
    padding: 40px;
}
.img-profile {
    width: 160px;
    height: 160px;
    border-radius: 100px;
    object-fit: cover;
    margin: auto;
    margin-left: 50px;
    box-shadow: 0 0 5px grey;
}
.nom-pro {
    padding-left: 400px;
}

.presentation {
    background: #0475ba;
    color: #ecf3f8;
}
#profil {
    font-size: x-large;
    padding: 40px 400px; 
}
ul {
    list-style-position: inside;
    padding-bottom: 40px;
    margin-left: 430px;
}
li {
    list-style: initial;
    padding: 5px;
}

#exp {
    color: #0475ba;
    font-size: x-large;
    padding-bottom: 30px;
}
.exp {
    padding: 40px 400px;
    background-color: #ecf3f8;
}
h4 {
    display: inline-flex;
    padding-top: 10px;
    padding-bottom: 10px; 
    font-size: 18px;
}
.date { 
    float:right;
}
.task{
    padding-top: 10px;
    padding-bottom: 15px;
}

#form {
    font-size: x-large;
    padding-bottom: 30px;
}
.form {
    color: #ecf3f8;
    padding: 40px 400px;
    background-color: #0475ba;
}
.diplome {
    padding-top: 10px;
    padding-bottom: 15px;
}

.passions {
    font-size: x-large;
    padding-bottom: 30px;
    color: #0475ba;
}
.loisirs {
    padding: 40px 400px;
    background-color: #ecf3f8;
}
.hobby {
    padding-top: 10px;
    padding-bottom: 15px;
}
footer {
    color: #ecf3f8;
    padding: 40px;
    background-color: #0475ba;
}
a {
    color:#ecf3f8;
}
.social {
    padding-left: 400px;
}
