@font-face {
    font-family: Poppins;
    src: url(cv_starter/fonts/poppins.ttf);
}
@font-face {
    font-family: Poppins_Medium;
    src: url(cv_starter/fonts/Poppins-Medium.ttf);
}

html {
    font-family: Poppins;
    background: red no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h1, h2, h3, h4 {
    font-family: Poppins_Medium;
}

header {
    background: #0475ba;
    color: #ecf3f8;
    display: flex;
    height: 72px;
}

nav {
    display: flex;
    margin: auto 40px;
}
h2 {
    margin:  auto 15px;
    font-size: 25px;
    float: left;
}
nav > a {
    padding-right: 20px;
    padding-left: 10px;
    color: #ecf3f8;
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: space-around right;
}

h1 {
    font-size:xx-large;
    margin: 30px;
}
#h1 {
    font-size: x-large;
    color: #0475ba;
    margin: 30px;
}

.qui {
    background-color: #ecf3f8;
    display: flex;
}
.img-profile {
    width: 160px;
    height: 160px;
    border-radius: 100px;
    object-fit: cover;
    box-shadow: 0 0 5px grey;
    margin: 0 80px;
}
.nom-img {
    margin: auto;
    width: 700px;
    display: flex;
    padding: 40px 0;
}
.nom-pro {
    padding: 20px 0;
}

.presentation {
    background: #0475ba;
    color: #ecf3f8;
    display: flex;
}
.pres {
    width: 650px;
    justify-content: center;
    margin: auto;
}
#profil {
    font-size: x-large;
    margin-top: 40px ;
}
ul {
    list-style-position: inside;
    padding: 40px 20px;
}
li {
    list-style: initial;
    padding: 5px;
}

.experience {
    display: flex;
    background: #ecf3f8;
}
#exp {
    color: #0475ba;
    font-size: x-large;
    margin-top: 40px;
    margin-bottom: 30px;
}
.exp {
    margin: auto;
    width: 650px;
    padding-bottom: 40px;
}
.nom-exp {
    display: flex;
    justify-content: space-between;
}
h4 {
    padding-top: 20px;
    padding-bottom: 10px; 
    font-size: 18px;
}
.exp > p {
    padding: 10px 0;
}

#form {
    font-size: x-large;
    margin-top: 40px;
    margin-bottom: 30px;
}
.form-back {
    display: flex;
    color: #ecf3f8;
    background-color: #0475ba;
}
.form {
    margin: auto;
    width: 650px;
    padding-bottom: 40px;
}
.info {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.passions {
    font-size: x-large;
    padding-bottom: 30px;
    color: #0475ba;
}
.loisirs {
    background-color: #ecf3f8;
    display: flex;
}
.lois {
    width: 650px;
    margin: auto;
    padding: 40px 0;
    
}
.hobby {
    padding-top: 10px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
}
footer {
    color: #ecf3f8;
    padding: 40px;
    background-color: #0475ba;
}

.lien {
    width: 100px;
    justify-content: center;
    margin: 0 300px;
}
a {
    color:#ecf3f8;
}
.fab {
    padding: 5px;
}
footer > a {
    padding: 5px;
}
.blog {
    display: block;
    padding: 5px 0;
}

@media (max-width: 768px) {
    h3 {
        text-align: center;
    }
    nav {
        display: none;
    }
    
    .nom-img {
        margin: auto;
        width: 700px;
        display: block;
        padding: 40px 0;
        text-align: center;
    }
    footer {
        display: block;
    }
    .lien {
        margin: initial;
        margin-top: 20px;
    }
    .pres, .exp, .form, .lois {
        margin-right: 10px;
        margin-left: 10px;
    }
}